{# Apple's official badge. The owner saves it unmodified as src/assets/img/app-store-badge.svg on launch day;
   it is copied through as-is and never resized (https://developer.apple.com/app-store/marketing/guidelines/). #}
<a class="app-store-badge" href="{{ site.apps.ascend.appStoreUrl }}"><img src="/assets/img/app-store-badge.svg" alt="{{ copy['ascend.alt.badge'] }}" width="120" height="40"></a>
