{# One Ascend screenshot. The caller sets shot to an entry of ascendScreens.items. #}
<figure class="screenshot">{% image shot.file, copy[shot.altId], [320, 640], "(min-width: 1024px) 320px, 70vw", "lazy", "screenshot-img" %}</figure>
